.md-scheme-dark {
  background-color: #000000; /* substitua pela cor desejada */
}
.md-scheme-dark .md-content {
  background-color: #000000; /* substitua pela cor desejada */
}

a,
a:visited {
  color: #00A5E0;
}

.md-typeset a,
.md-typeset a:visited {
  color: #00A5E0;
}


